.Select-menu-outer {
    display: block !important;
}

div {
    height: "50vh";
    margin-top: "16px";
    margin-left: "8px";
    margin-bottom: "8px";
    margin-right: "8px";
}

p {
    margin-top: "8px";
    margin-bottom: "4px";
    font-weight: "bold";
}

h5 {
    margin-top: "12px";
    margin-left: "24px";
}

.price-input-block {
    display: "inline-block";
    vertical-align: "top";
    margin-left: "0.25vw";
    margin-top: "0.25vw";
    /* width: 300; */
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .175rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    width: 150px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0.25rem;
}

.input-group-numeric {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ced4da;
    width: 100px;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0rem;
}